color-main = #409EFF
color-main-light = #c6e2ff
color-green = #67C23A
color-green-light = #e1f3d8
color-orange = #E6A23C
color-orange-light = #faecd8
color-red = #F56C6C
color-red-light = #fde2e2
color-gray = #909399
color-gray-light = #e9e9eb

radius-normal = 6px

spacing-small = 10px
spacing-normal = 20px
spacing-large = 30px

